.container {
    width: 960px;
    margin: 0px auto;
}

.resume {
    margin-bottom: 50px;
}

.section {

}

    .section__title {
        margin-top: 25px;
    }

    .section__title-text {
        height: 25px;
        line-height: 25px;
        display: inline-block;
    }

    .section__title-button {

    }

        .section__title-button_hidden {
            display: none;
        }

.control {
    margin-top: 25px;
}

    .control:first-child {
        margin-top: 0px;
    }

    .control:after {
        display: block;
        content: '';
        clear: both;
    }

    .control_viewing {

    }

    .control_editing {

    }

    .control_submit {
        
    }

    .control_viewing.control_submit {
        display: none;
    }

    .control__label {
        float: left;
        width: 20%;
        display: block;
        min-height: 1px;
    }

    .control__value {
        float: left;
    }

        .control_editing .control__value {
            display: none;
        }

    .control__input {
        float: left;
        width: 80%;
        display: block;
    }

        .control_viewing .control__input {
            display: none;
        }

.suggest-list {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1000;
}

    .suggest-list__item {
        height: 25px;
        line-height: 25px;
        padding: 0px 10px;
        background: #fff;
        cursor: pointer;
        overflow: hidden;
    }

        .suggest-list__item:hover {
            background: #ccc;
        }

.areas-wrapper {
    margin-left: -25px;
}

.area-list {
    padding: 0px;
    list-style: none;
    display: block;
}

    .area-list__item {
        margin-left: 25px;        
    }

    .area-list__item-text {
        height: 25px;
        padding: 0px 10px;
        background: #fff;
        line-height: 25px;
        display: inline-block;
        cursor: pointer;
    }

        .area-list__item-text_active {
            background: #ccc;
        }

        .area-list__item-text:hover {
            background: #ccc;
        }

.checkbox-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: block;
}

    .checkbox-list__item {
        line-height: 25px;
        height: 25px;
    }

