.block {
    margin-bottom: 50px;
    min-width: 220px;
    padding: 10px 10px;
}
    .block__title {

    }
    .block__data {

    }

.block_fixed {
    position: fixed;
    top: 10px;
    border: dashed 1px #aaa;
}