.button {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    outline: none;
}

    .button_right {
        float: right;
    }

    .button:focus {
        border: 1px solid #a2d8fc;
        box-shadow: 0 0 3px 2px #1d97e8;
    }

    .button:active {
        box-shadow: none;
    }

    .button_main {
        background: #7ac67a;
        border-color: #7ac67a;
        color: #fff;
        padding: 7px 12px 7px;
        font-size: 18px;
    }

    .button_publish {
        -webkit-animation: element-pop 1s 4 alternate;
        animation: element-pop 1s 4 alternate;
    }

        .button_main:hover {
            background-color: #86cb86;
            border-color: #86cb86;
        }

        .button_main:active {
            background-color: #62bc62;
            border-color: #62bc62;
        }

        .button_main:disabled {
            background-color: #9ed59e;
            border-color: #9ed59e;
        }

    .button_primary {
        background: #5bb3ee;
        border-color: #5bb3ee;
        color: #fff;
        padding: 5px 10px 5px;
        font-size: 14px;
    }

        .button_primary:hover {
            background: #60bcfa;
            border-color: #60bcfa;
        }

        .button_primary:active {
            background: #3ca5eb;
            border-color: #3ca5eb;
        }

        .button_primary:disabled {
            background-color: #81cafb;
            border-color: #81cafb;
        }

    .button_secondary {
        background: #f0f0f0;
        border-color: #ccc;
        padding: 5px 10px 5px;
        font-size: 14px;
    }

        .button_secondary:hover {
            background-color: #f8f8f8;
        }

        .button_secondary:active {
            background-color: #e8e8e8;
        }

        .button_secondary:disabled {
            background-color: #fefefe;
            color: #999;
        }
