.control {
    margin-top: 25px;
}

    .control:after {
        display: block;
        content: '';
        clear: both;
    }


    .control_viewing {

    }

    .control_editing {

    }

    .control_editing.control_with-border {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .control_submit {
        
    }

    .control_viewing.control_submit {
        display: none;
    }

    .control_collapsing {

    }

    .control_collapsing.control_viewing {
        margin-top: 0px;
    }

    .control__label {
        float: left;
        width: 200px;
        padding-right: 20px;
        display: block;
        min-height: 1px;
        color: #666;
    }

    .control__value,
    .control__input {
        float: left;
        width: 500px;
        display: block;
        margin: 0px;
        padding: 0px;
    }

        .control_editing .control__value {
            display: none;
        }

        .control_editing .control_with-error {
            border: 1px solid #F88;
        }

        .control_viewing .control__input {
            display: none;
        }

    .control_add-btn.control_editing {
        margin-top: -20px;
    }
