.field {
    padding: 5px 5px;
    display: table-cell;
}

    .field__title {
        font-size: 0.9em;
        color: #aaa;
        text-align: left;
        display: inline-block;
    }

    .field__data {
        font-size: 0.9em;
        color: #555;
        display: inline-block;
    }