.header {
    margin: auto;
    padding: 0px 25px;
    width: 910px;
}

    .header__text {
        height: 25px;
        line-height: 25px;
        margin: 20px 0px;
        display: inline-block;
    }

    .header__form {
        display: inline-block;
        float: right;
        line-height: 65px;
        height: 65px;
    }

    .header__warning {
        padding: 0px 10px;
    }
