.item {
    background: #fff;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px auto;
    padding: 12px 15px;
}
    .item__field {
        margin: 0 10px; 
        display: inline-block;
        color: #555; 
    }

    .item__title {
        font-size: 1.70em;
        margin-bottom: 10px;
        text-align: left;
        display: block;
        padding: 0 8px;
    }
