@-webkit-keyframes button-pop {
    from { 
        -webkit-transform: scale3d(1,1,0);
        box-shadow: 0 0 0 0;
    }
    to {
        -webkit-transform: scale3d(1.05,1.05,0);
        box-shadow: 2px 2px 4px #777;
    }
}

@keyframes button-pop {
    from { 
        transform: scale3d(1,1,0);
        box-shadow: 0 0 0 0;
    }
    to {
        transform: scale3d(1.05,1.05,0);
        box-shadow: 2px 2px 4px #777;
    }
}