.nav-link {
    color: #5BB3EE;
    border-bottom: 1px solid #5BB3EE;
    text-decoration: none;
    padding-bottom: 1px;
}
        .nav-link:hover {
            color: #60BCFA;
            border-color: #60BCFA;
        }

        .nav-link:active {
            color: #3CA5EB;
            border-color: #3CA5EB;
        }

    .nav-link_big {
        border-bottom-width: 2px;
    }

    .nav-link_title {
        border-bottom-style: none;
    }

        .nav-link_title:hover {
            border-bottom-style: solid;
        }

    .nav-link_action {
        border-bottom-style: dotted;
        cursor: pointer;
    }

    .nav-link__right-margined {
        margin-right: 10px;
    }