.resume-list__container {
    margin: 0;
    padding: 0;
}
.resume-list__item {
    list-style: none;
}

.field {
    display: inline-block;
    padding: 5px 5px;
}
    .field:first-child {
        padding-left: 0;       
    }
    .field__title {
        font-size: 0.8em;
        color: #555;
    }
    .field__data {
        font-size: 0.9em;
    }