.resume-list {
    margin: 0;
    padding: 0;
    display: table;
    border-spacing: 5px 20px;
}
    .resume-list__item {
        list-style: none;
        display: table-row;
        margin: 20px 0;
    }
