.section {
    padding: 0px 25px;
    padding-bottom: 20px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

    .section__title {
        margin: 0px 0px 20px;
    }

    .section__title-text {
        height: 25px;
        line-height: 25px;
        margin: 20px 0px;
        display: inline-block;
    }

    .section__title-button {
        margin: 20px 0px;
        float: right;
    }

        .section_viewing .section__title-button_cancel {
            display: none;
        }

        .section_editing .section__title-button_edit {
            display: none;
        }

        .section_editing .section_with-error {
            background: #FEE;
            box-shadow: 0px 0 2px #F77;
        }

    .section__content {
        position: relative;
    }

    .section__overlay {
        display: none;
    }

        .section_loading .section__overlay {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.8);
        }

        .section_viewing .section__controls {
            display: none;
        }

        .section_editing .section__value {
            display: none;
        }

    .section__item {

    }

        .section_editing .section__item:last-child {
            padding-bottom: 20px;
        }
