.section {
    margin-bottom: 50px;
}

    .section__title {
        margin: 10px 0;
    }

    .section__title-text {
        height: 25px;
        line-height: 25px;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .section__title-button {

    }

        .section__title-button_hidden {
            display: none;
        }