.section {

}

    .section__title {
        margin: 20px 0px;
    }

    .section__title-text {
        height: 25px;
        line-height: 25px;
        display: inline-block;
        margin: 20px 0px;
    }

    .section__title-button {

    }

        .section__title-button_hidden {
            display: none;
        }