.textbox {

}

    .textbox_very-small {
        width: 50px;
    }

    .textbox_small {
        width: 100px;
    }

    .textbox_large {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }

    .textbox_very-large {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        resize: vertical;
    }
