<label class="control__label">Видимость</label>
<span class="control__value"><%- access.type.name %></span>

<div class="control__input">
    <ul class="checkbox-list">
        <% _.each(accessTypes, function(type) { %>
        <li class="checkbox-list__item">
            <label>
                <input class="HH-AccessType-Radio"
                       type="radio"
                       value="<%- type.id %>"
                       name="access_type"
                       <%- type.id === access.type.id ? 'checked' : '' %>/>
                <%- type.name %>

                <li>
                    <% if (type.id === consts.WHITE_LIST || type.id === consts.BLACK_LIST) { %>
                        <% if (access[type.id] && access[type.id].length) { %>
                            <span>В списке <%- access[type.id].length%> компаний</span>
                            <input type="button"
                                   class="HH-AccessType-ShowModal button button_secondary"
                                   data-hh-list="<%- type.id %>"
                                   value="Изменить список" />
                        <% } else { %>
                            <input type="button"
                                   class="HH-AccessType-ShowModal button button_secondary"
                                   data-hh-list="<%- type.id %>"
                                   value="Добавить компании" />
                        <% } %>
                    <% } %>
                </li>
            </label>
        </li>
        <% }); %>
    </ul>
</div>