<% if (isShow) { %>
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__body">
            <div class="modal__block">
                <input type="text"
                       value="<%- text %>"
                       placeholder="Название компании"
                       class="HH-AccessTypeCompanyList-Input" />

                <input type="button"
                       class="HH-AccessTypeCompanyList-Search button button_secondary"
                       value="Найти" />

                <% if (suggest.length) { %>

                    <ul class="modal__list">
                        <% _.each(suggest, function(item) { %>
                        <li>
                            <input type="checkbox"
                                   name="HH-AccessTypeCompanyList-Item"
                            <%- item.checked ? 'checked' : '' %>
                            value="<%- item.id %>">
                            <span class="HH-AccessTypeCompanyList-Item-Name"><%- item.name %></span>
                        </li>
                        <% }); %>
                    </ul>

                <% } else if (searched) { %>
                    <p>
                        Не найденно ни одной компании
                    </p>
                <% } %>
            </div>

            <div class="modal__block">
                <span>Выбранные компании:</span>
                <ul class="modal__list">
                    <% _.each(companies, function(company) { %>
                    <li>
                        <%- company.name %>
                        <span class="modal__remove-element HH-AccessTypeCompanyList-Remove"
                              data-hh-company-id="<%- company.id %>">
                            &times;
                        </span>
                    </li>
                    <% }); %>
                </ul>
            </div>


        </div>
        <div class="modal__footer">
            <input type="button"
                   class="modal__close HH-AccessTypeCompanyList-Close button button_secondary"
                   value="Закрыть" />
        </div>
    </div>
<% } %>