<div class="info">
    <div class="info__item">
        <h3 class="info__item-title">Последнее изменение</h3>
        <!-- TODO использовать метод форматирования даты из resumeListItem после мержа HH-53 -->
        <div class="info__item-value"><%- updated_at %></div>
    </div>

    <div class="info__item">
        <h3 class="info__item-title">Всего просмотров</h3>
        <div class="info__item-value"><%- total_views %></div>
    </div>

    <div class="info__item">
        <h3 class="info__item-title">Новых просмотров</h3>
        <div class="info__item-value"><%- new_views %></div>
    </div>

    <div class="info__item">
        <button type="button" class="HH-ResumeInfo-ButtonUpdate">Обновить дату</button>
    </div>

    <div class="info__item">
        <button type="button" class="HH-ResumeInfo-ButtonClone">Дублировать</button>
    </div>

    <div class="info__item">
        <button type="button" class="HH-ResumeInfo-ButtonDestroy">Удалить</button>
    </div>
</div>
