<% if (area != null) { %>
<ul class="area-list">
    <% _.each(area.areas, function(a) { %>
    <li class="area-list__item HH-Component-AreaModal-Item">
        <% if (a.open) { %>
        <label class="area-list__item-text area-list__item-text_active">
            <input type="radio" checked/>
            <span class="HH-AreaModal-Text"><%= a.name %></span>
        </label>
        <%= fntemplate({area: a, fntemplate: fntemplate}) %>
        <% } else { %>
        <label class="area-list__item-text">
            <input type="radio"/>
            <span class="HH-AreaModal-Text"><%= a.name %></span>
        </label>
        <% } %>
    </li>
    <% }); %>
</ul>
<% } %>
