<span class="control__value">
    <%- date.day %>
    <%- calendar.months[date.month - 1] %>
    <%- date.year %>
</span>

<div class="control__input">
    <select name="birth_date-day">
        <option value="" disabled selected>День</option>
        <% _.range(1,  (calendar.days[date.month - 1] || MAX_DAYS) + 1).forEach(function(day) { %>
        <option value="<%- day %>"
        <%- date.day === day ? 'selected' : '' %>>
        <%- day %>
        </option>
        <% }); %>
    </select>

    <select class="HH-ResumeBuilder-Component-BirthDate-Month"
            name="birth_date-month">
        <option value="" disabled selected>Месяц</option>
        <% calendar.months.forEach(function(month, index) { %>
        <option value="<%- index + 1 %>"
        <%- date.month === index + 1 ? 'selected' : '' %>>
        <%- month %>
        </option>
        <% }); %>
    </select>

    <input class="HH-ResumeBuilder-Component-BirthDate-Year textbox textbox_very-small"
           value="<%- date.year %>"
           name="birth_date-year"
           placeholder="Год"
           pattern="^[0-9]{4}$"/>
</div>
