<div class="HH-ResumeSection-Component"
     data-hh-component="cell"
     data-hh-namespace="contact"
     data-hh-verbose="Мобильный телефон"></div>
</div>

<div class="HH-ResumeSection-Component"
     data-hh-component="home"
     data-hh-namespace="contact"
     data-hh-verbose="Домашний телефон"></div>
</div>

<div class="HH-ResumeSection-Component"
     data-hh-component="work"
     data-hh-namespace="contact"
     data-hh-verbose="Рабочий телефон"></div>
</div>

<div class="HH-ResumeSection-Component"
     data-hh-component="email"
     data-hh-namespace="contact"
     data-hh-verbose="Email"></div>
</div>