<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Уровень</label>
    <span class="control__value"><%- resume.education.level.name %></span>

    <div class="control__input">
        <select class="HH-SpecializationControl-Select">
            <% dictionary.education_level.forEach(function(educationLevel) { %>
                <option value="<%- educationLevel.id %>"
                        <%- resume.education.level.id == educationLevel.id ? 'selected' : '' %>>
                    <%- educationLevel.name %>
                </option>
             <% }); %>
        </select>
    </div>
</div>
