<div class="HH-ResumeSection-Control control control_viewing">
    <div class="HH-ResumeSection-Component"
         data-hh-component="skill-set"
         data-hh-namespace="experience"></div>

    <div class="HH-ResumeBuilder-Component-Suggest"></div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Дополнительная информация</label>
    <span class="control__value"><%-  resume.skills %></span>

    <div class="control__input">
        <textarea class="HH-ResumeSection-ControlTextbox"
                  type="text"
                  name="skills"
                  data-hh-namespace="experience"
                  data-hh-name="skills"><%- resume.skills %></textarea>
    </div>
</div>

<div class="HH-ResumeSection-Component"
     data-hh-component="experience"
     data-hh-namespace="experience"></div>
