<div class="control control_editing">
    <label class="control__label">Организация</label>

    <div class="control__input">
        <input type="text"
               class="HH-Experience-Item-Company textbox textbox_large"
               data-hh-name="experience.company"
               value="<%- experience.company %>" />
        <div class="HH-ResumeBuilder-Component-Suggest HH-Suggest-Company"></div>
    </div>
</div>

<div class="control control_editing">
    <label class="control__label">Отрасль</label>

    <div class="control__input">
        <select class="HH-Experience-Item-Industry select select_large">
        <% _.each(industries, function(industry) { %>
            <option value="<%- industry.id %>"
                <%- industry.id === (experience.industry && experience.industry.id) ? 'selected' : '' %>>
                <%- industry.name %>
            </option>
        <% }); %>
        </select>
    </div>
</div>

<div class="control control_editing">
    <label class="control__label">Регион</label>

    <div class="control__input">
        <input type="text"
               class="HH-Experience-Item-Area textbox textbox_large"
               data-hh-name="experience.area"
               value="<%- experience.area && experience.area.name %>" />
    </div>
    <div class="HH-ResumeBuilder-Component-Suggest HH-Suggest-Area"></div>
</div>

<div class="control control_editing">
    <label class="control__label">Сайт</label>

    <div class="control__input">
        <input type="text"
               data-hh-name="experience.company_url"
               class="HH-Experience-Item-CompanyUrl textbox textbox_large"
               value="<%- experience.company_url %>" />
    </div>
</div>

<div class="control control_editing">
    <label class="control__label">Должность</label>

    <div class="control__input">
        <input type="text"
               data-hh-name="experience.position"
               class="HH-Experience-Item-Position textbox textbox_large"
               value="<%- experience.position %>" />
    </div>
</div>

<div class="control control_editing">
    <label class="control__label">Начало работы</label>

    <div class="control__input">
        <select class="HH-Experience-Item-Start-Month"
                name="birth_date-month">
            <% _.each(months, function(month, index) { %>
            <option value="<%- index + 1 %>"
            <%- experience.startDate.month === index + 1 ? 'selected' : '' %>>
            <%- month %>
            </option>
            <% }); %>
        </select>

        <input class="HH-Experience-Item-Start-Year textbox textbox_very-small"
               value="<%- experience.startDate.year %>"
               name="birth_date-year"
               pattern="^[0-9]{4}$"/>
    </div>
</div>

<div class="control control_editing">
    <label class="control__label">Конец работы</label>

    <div class="control__input">
        <select class="HH-Experience-Item-End-Month"
            <%- !experience.end ? 'disabled' : '' %>>
            <% _.each(months, function(month, index) { %>
            <option value="<%- index + 1 %>"
            <%- experience.endDate.month === index + 1 ? 'selected' : '' %>>
            <%- month %>
            </option>
            <% }); %>
        </select>

        <input class="HH-Experience-Item-End-Year textbox textbox_very-small"
               <%- !experience.end ? 'disabled' : '' %>
               value="<%- experience.endDate.year %>"
               name="birth_date-year"
               pattern="^[0-9]{4}$"/>

        <label>
            <input type="checkbox"
                   class="HH-Experience-Item-Current"
                   <%- !experience.end ? 'checked' : '' %>/>
            по настоящее время
        </label>
    </div>
</div>

<div class="control control_editing">
    <label class="control__label">Обязанности</label>

    <div class="control__input">
        <textarea data-hh-name="experience.description"
                  class="HH-Experience-Item-Description
                         textbox_very-large
                         textbox"><%- experience.description %></textarea>
    </div>
</div>

<div class="control control_editing control_with-border">
    <label class="control__label"></label>

    <div class="control__input">
        <input type="button"
               class="HH-Experience-Item-Remove button button_secondary"
               data-hh-index="<%- experienceIndex %>"
               value="Удалить работу"/>
    </div>
</div>
