<label class="control__label">Опыт работы</label>

<% if (!experiences.length) { %>
    <div class="control__value">Опыт не указан</div>
<% } else { %>
<ul class="control__value">
        <% experiences.forEach(function(experience) { %>
            <li><%- experience.company %>, <%- experience.position %> -
                c <%- experience.startDate.text %>
                по <%- !experience.endDate.text ? 'настоящее время' : experience.endDate.text %></li>
        <% }); %>
</ul>
<% } %>


<div class="control__input">
    <button class="HH-Experience-Add">Добавить работу</button>
</div>
