<div class="header">
    <% if (user.isAuthenticated) { %>
        <h3 class="header__text"><%- user.first_name %> <%- user.last_name %></h3>
        <% if (linkToList) { %>
            <a href="/">К списку</a>
        <% } %>
        <form class="header__form" action="<%- serverHost %>/oauth/logout" method="POST">
            <% if (user.isEmployee) { %>
                <input type="submit" class="HH-ResumeBuilder-ButtonCreate button button_primary" value="Создать резюме" />
            <% } else { %>
                <span class="header__warning">Только соискатели могут создавать резюме</span>
            <% } %>
            <input type="submit" class="button button_primary" value="Выйти" />
        </form>
    <% } else { %>
        <span class="header__text">
            <a href="<%- serverHost %>/oauth" class="link link_login">Войти</a>
        </span>
    <% } %>
</div>
