<div class="header">
    <% if (user.isAuthenticated) { %>
        <h3 class="header__text"><%- user.first_name %> <%- user.last_name %></h3>
        <form class="header__form" action="<%- serverHost %>/oauth/logout" method="POST">
            <% if (linkToList) { %>
                <a class="nav-link nav-link__right-margined" href="/">Мои резюме</a>
            <% } %>
            <% if (user.isEmployee) { %>
                <a class="nav-link nav-link__right-margined" href="/new">Создать резюме</a>
            <% } else { %>
                <span class="header__warning">Только соискатели могут создавать резюме</span>
            <% } %>
            <input type="submit" class="button button_primary" value="Выйти" />
        </form>
    <% } else { %>
        <span class="header__text">
            <a href="<%- serverHost %>/oauth" class="link link_login">Войти</a>
        </span>
    <% } %>
</div>
