<div class="HH-ResumeSection-Inner section">
    <% if (isPublished) { %>
    <div class="section__title">
        <h3 class="section__title-text">Сведения о резюме</h3>
    </div>

    <div class="control">
        <label class="control__label">Последнее изменение</label>
        <div class="control__value"><%- updated_at %></div>
    </div>

    <div class="control">
        <label class="control__label">Всего просмотров</label>
        <div class="control__value"><%- total_views %></div>
    </div>

    <div class="control">
        <label class="control__label">Новых просмотров</label>
        <div class="control__value"><%- new_views %></div>
    </div>
    <% } %>
</div>
