<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Желаемая должность</label>
    <span class="control__value"><%= resume.title %></span>

    <div class="control__input">
        <input class="HH-ResumeSection-ControlTextbox"
               type="text"
               value="<%= resume.title %>"
               name="title"
               data-hh-name="title"
               data-hh-namespace="job_and_salary"
               maxlength="<%= conditions.title.max_length %>"
               placeholder="Например, «Менеджер по продажам»"/>
    </div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Профессиональная область</label>

    <div class="HH-ResumeSection-Component"
         data-hh-component="profarea"
         data-hh-namespace="job_and_salary"></div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Желаемая зарплата</label>
    <span class="control__value"><%= resume.salary.amount %> <%= resume.salary.currency %></span>

    <div class="control__input">
        <input class="HH-ResumeSection-ControlTextbox"
               type="text"
               value="<%= resume.salary.amount %>"
               name="amount"
               data-hh-name="salary.amount"
               data-hh-namespace="job_and_salary"
               pattern="^[0-9]+$"/>

        <ul class="checkbox-list">
        <% _.each(dictionary.currency, function(currency) { %>
            <li class="checkbox-list__item">
                <label>
                    <input class="HH-ResumeSection-ControlRadio"
                           type="radio"
                           value="<%= currency.code %>"
                           name="currency"
                           data-hh-name="salary.currency"
                           data-hh-namespace="job_and_salary"
                           <%= currency.code === resume.salary.currency ? 'checked' : '' %>/>
                    <%= currency.abbr %>
                </label>
            </li>
        <% }); %>
        </ul>
    </div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Занятость</label>
    <span class="control__value"><%= resume.employment.name %></span>

    <div class="control__input">
        <ul class="checkbox-list">
        <% _.each(dictionary.employment, function(employment) { %>
            <li class="checkbox-list__item">
                <label>
                    <input class="HH-ResumeSection-ControlRadio"
                           type="radio"
                           value="<%= employment.id %>"
                           name="employment"
                           data-hh-name="employment.id"
                           data-hh-namespace="job_and_salary"
                           <%= employment.id === resume.employment.id ? 'checked' : '' %>/>
                    <%= employment.name %>
                </label>
            </li>
        <% }); %>
        </ul>
    </div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">График работы</label>
    <span class="control__value"><%= resume.schedule.name %></span>

    <div class="control__input">
        <ul class="checkbox-list">
        <% _.each(dictionary.schedule, function(schedule) { %>
            <li class="checkbox-list__item">
                <label>
                    <input class="HH-ResumeSection-ControlRadio"
                           type="radio"
                           value="<%= schedule.id %>"
                           name="schedule"
                           data-hh-name="schedule.id"
                           data-hh-namespace="job_and_salary"
                           <%= schedule.id === resume.schedule.id ? 'checked' : '' %>/>
                    <%= schedule.name %>
                </label>
            </li>
        <% }); %>
        </ul>
    </div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Переезд</label>
    <span class="control__value"><%= resume.relocation.type.name %></span>

    <div class="HH-ResumeSection-Component"
         data-hh-component="relocation"
         data-hh-namespace="job_and_salary"></div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <div class="HH-ResumeSection-Component"
         data-hh-component="relocation-area"
         data-hh-namespace="job_and_salary"
         data-hh-depends='[{"component": "relocation", "event": "selectRelocation", "callback": "_onSelectRelocation"}]'></div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Готовность к командировкам</label>
    <span class="control__value"><%= resume.business_trip_readiness.name %></span>

    <div class="control__input">
        <ul class="checkbox-list">
        <% _.each(dictionary.business_trip_readiness, function(readiness) { %>
            <li class="checkbox-list__item">
                <label>
                    <input class="HH-ResumeSection-ControlRadio"
                           type="radio"
                           value="<%= readiness.id %>"
                           name="business_trip_readiness"
                           data-hh-name="business_trip_readiness.id"
                           data-hh-namespace="job_and_salary"
                           <%= readiness.id === resume.business_trip_readiness.id ? 'checked' : '' %>/>
                    <%= readiness.name %>
                <label>
            </li>
        <% }); %>
        </ul>
    </div>
</div>

<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Время в пути</label>
    <span class="control__value"><%= resume.travel_time.name %></span>

    <div class="control__input">
        <ul class="checkbox-list">
        <% _.each(dictionary.travel_time, function(time) { %>
            <li class="checkbox-list__item">
                <label>
                    <input class="HH-ResumeSection-ControlRadio"
                           type="radio"
                           value="<%= time.id %>"
                           name="travel_time"
                           data-hh-name="travel_time.id"
                           data-hh-namespace="job_and_salary"
                           <%= time.id === resume.travel_time.id ? 'checked' : '' %>/>
                    <%= time.name %>
                </label>
            </li>
        <% }); %>
        </ul>
    </div>
</div>
