<div class="HH-ResumeSection-Control control control_viewing">
    <label class="control__label">Владение языками</label>

    <% if (!language.length) { %>
    <span class="control__value">не указано</span>
    <% } %>
</div>

<div class="HH-ResumeSection-Languages"></div>

<div class="HH-ResumeSection-Control control control_viewing control_collapsing control_add-button">
    <label class="control__label"></label>

    <div class="control__input">
        <input type="button" class="HH-ResumeSection-AddLanguage" value="Добавить язык" />
    </div>
</div>
