<div class="HH-ResumeSection-Control control control_viewing control_with-border">
    <label class="control__label"><%- language.name %></label>

    <span class="control__value"><%- language.level.name %></span>
    <div class="control__input">
        <select class="HH-LanguageControl-LevelSelect">
            <% levels.forEach(function(level) { %>
            <option value="<%- level.id %>" <%- language.level.id === level.id ? 'selected' : '' %>>
                <%- level.name %>
            </option>
            <% }); %>
        </select>
        <input type="button" class="HH-ResumeSection-RemoveLanguage button button_secondary" value="Удалить" />
    </div>
</div>
