<div class="HH-ResumeSection-Control control control_viewing control_removable">
    <label class="control__label">Язык</label>

    <div class="control__input">
        <select class="HH-LanguageControl-IdSelect">
            <% languages.forEach(function(language) { %>
            <option value="<%- language.id %>">
                <%- language.name %>
            </option>
            <% }); %>
        </select>
        <input type="button"
               class="HH-ResumeSection-RemoveLanguage button button_secondary button_right"
               value="Удалить" />
    </div>
</div>

<div class="HH-ResumeSection-Control control control_viewing control_with-border">
    <label class="control__label">Уровень</label>

    <div class="control__input">
        <select class="HH-LanguageControl-LevelSelect">
            <% levels.forEach(function(level) { %>
            <option value="<%- level.id %>">
                <%- level.name %>
            </option>
            <% }); %>
        </select>
    </div>
</div>
