<div class="section">
    <div class="section__title">
        <h3 class="section__title-text">Персональная информация</h3>
        <button class="HH-ResumeSection-Switch section__title-button"
                type="button">
            Изменить
        </button>
        <button class="HH-ResumeSection-Switch section__title-button section__title-button_hidden"
                type="button">
            Отменить
        </button>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Фамилия</label>
        <span class="control__value"><%= resume.last_name %></span>

        <div class="control__input">
            <input class="HH-ResumeSection-ControlTextbox"
                   type="text"
                   value="<%= resume.last_name %>"
                   name="last_name"
                   maxlength="<%= conditions.last_name.max_length %>"
                   pattern="<%= conditions.last_name.regexp %>"
                   data-hh-namespace="personal_info"
                   data-hh-name="last_name"/>
        </div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Имя</label>
        <span class="control__value"><%= resume.first_name %></span>

        <div class="control__input">
            <input class="HH-ResumeSection-ControlTextbox"
                   type="text"
                   value="<%= resume.first_name %>"
                   name="first_name"
                   maxlength="<%= conditions.first_name.max_length %>"
                   pattern="<%= conditions.first_name.regexp %>"
                   data-hh-namespace="personal_info"
                   data-hh-name="first_name"/>
        </div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Отчество</label>
        <span class="control__value"><%= resume.middle_name %></span>

        <div class="control__input">
            <input class="HH-ResumeSection-ControlTextbox"
                   type="text"
                   value="<%= resume.middle_name %>"
                   name="middle_name"
                   maxlength="<%= conditions.middle_name.max_length %>"
                   pattern="<%= conditions.middle_name.regexp %>"
                   data-hh-namespace="personal_info"
                   data-hh-name="middle_name"/>
        </div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Пол</label>
        <span class="control__value"><%= resume.gender.name %></span>

        <div class="control__input">
            <ul class="checkbox-list">
            <% _.each(dictionary.gender, function(gender) { %>
                <li class="checkbox-list__item">
                    <label>
                        <input class="HH-ResumeSection-ControlRadio"
                               type="radio"
                               value="<%= gender.id %>"
                               name="gender"
                               data-hh-name="gender.id"
                               data-hh-namespace="personal_info"
                               <%= gender.id === resume.gender.id ? 'checked' : '' %>/>
                        <%= gender.name %>
                    </label>
                </li>
            <% }); %>
            </ul>
        </div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Дата рождения</label>

        <div class="HH-ResumeSection-Component"
             data-hh-component="birth-date"
             data-hh-namespace="personal_info"></div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Город проживания</label>
        <span class="control__value"><%= resume.area.name %></span>

        <div class="HH-ResumeSection-Component"
             data-hh-component="area"
             data-hh-namespace="personal_info"></div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <div class="HH-ResumeSection-Component"
             data-hh-component="metro"
             data-hh-namespace="personal_info"
             data-hh-depends='[{"component": "area", "event": "selectArea", "callback": "_onSelectArea"}]'></div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Гражданство</label>
        <span class="control__value">
            <%= _.map(resume.citizenship, function(element) { return element.name; }).join(', ') %>
        </span>

        <div class="HH-ResumeSection-Component"
             data-hh-component="citizenship"
             data-hh-namespace="personal_info"></div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing">
        <label class="control__label">Разрешение на работу</label>
        <span class="control__value">
            <%= _.map(resume.work_ticket, function(element) { return element.name; }).join(', ') %>
        </span>

        <div class="HH-ResumeSection-Component"
             data-hh-component="work-ticket"
             data-hh-namespace="personal_info"></div>
    </div>

    <div class="HH-ResumeSection-Control control control_viewing control_submit">
        <label class="control__label"></label>

        <div class="control__input">
            <button type="button" class="HH-ResumeSection-Submit">Сохранить</button>
        </div>
    </div>
</div>
