<% if (needArea) { %>
<label class="control__label">Города переезда</label>
<span class="control__value"><%- areas %></span>

<div class="control__input ">
    <div class="control__tags">
        <input  class="HH-ResumeBuilder-Component-RelocationArea-Input textbox textbox_large textbox_with-tags"
                type="text"
                value=""
                name="relocation_areas"/>
        <input type="button"
               class="HH-ResumeBuilder-Component-RelocationArea-Add button button_secondary button_right"
               value="+"/>
    </div>

    <div class="HH-ResumeBuilder-Component-Suggest"></div>
    <div class="HH-ResumeBuilder-Component-Tags"></div>
</div>
<% } %>
