<% if (needArea) { %>
<label class="control__label">Города переезда</label>
<span class="control__value"><%- areas %></span>

<div class="control__input ">
    <input  class="HH-ResumeBuilder-Component-RelocationArea-Input textbox textbox_large"
            type="text"
            value=""
            name="relocation_areas"/>
    <span class="HH-ResumeBuilder-Component-RelocationArea-Add">+</span>

    <div class="HH-ResumeBuilder-Component-Suggest"></div>
    <div class="HH-ResumeBuilder-Component-Tags"></div>
</div>
<% } %>
