<div class="HH-ResumeSection-Inner section section_viewing" data-hh-sectionName="<%- sectionName %>">
    <div class="section__overlay">
        <div class="ajax-spin"></div>
    </div>
    <div class="section__title">
        <h3 class="section__title-text"><%- title %></h3>
        <button class="HH-ResumeSection-Switch section__title-button section__title-button_edit button button_primary"
                type="button">
            Изменить
        </button>
        <button class="HH-ResumeSection-Switch section__title-button section__title-button_cancel button button_primary"
                type="button">
            Отменить
        </button>
    </div>

    <div class="HH-ResumeSection-Content"></div>

    <div class="HH-ResumeSection-Control control control_viewing control_submit">
        <label class="control__label"></label>
        <div class="control__input">
            <button type="button" class="HH-ResumeSection-Submit button button_main">Сохранить</button>
        </div>
    </div>
</div>
