<div class="resume-list__item__field resume-list__item__title">
    <div class="field__data"><a class="nav-link nav-link_size_big" href="<%- id %>"><%- title %></a></div>
</div>
<div class="resume-list__item__field resume-list__item__status">
    <div class="field__title">Статус</div>
    <div class="field__data"><%- status %></div>
</div>
<div class="resume-list__item__field resume-list__item__access">
    <div class="field__title">Доступ</div>
    <div class="field__data">
        <a class="nav-link nav-link_size_small" href="<%- id %>-saccess"><%- access %></a>
    </div>
</div>
<div class="resume-list__item__field resume-list__item__updated">
    <div class="field__title">Изменено</div>
    <div class="field__data"><%- updatedAt %></div>
</div>
<div class="resume-list__item__field resume-list__item__views">
    <div class="field__title">Просмотров / Новых</div>
    <div class="field__data"><%- totalViews %> / <%- newViews %></div>
</div>
