<div class="resume">
    <div class="HH-ResumeSection-Container" 
         data-hh-namespace="personal_info"
         data-hh-title="Персональная информация"></div>
    <div class="HH-ResumeSection-Container"
         data-hh-namespace="job_and_salary"
         data-hh-title="Желаемая должность и зарплата"></div>
    <div class="HH-ResumeSection-Container"
         data-hh-namespace="contact"
         data-hh-title="Контактная информация"></div>
    <div class="HH-ResumeSection-Container"
         data-hh-namespace="education"
         data-hh-title="Образование"></div>
    <div class="HH-ResumeSection-Container"
         data-hh-namespace="experience"
         data-hh-title="Опыт работы и навыки"></div>
    <div class="HH-ResumeSection-Container"
         data-hh-namespace="access"
         data-hh-title="Видимость"></div>
</div>
<div class="HH-ResumeBuilder-SideBar sidebar">
    <div class="HH-Sidebar-Status"></div>
    <div class="HH-Sidebar-Info"></div>
</div>