<div class="resume">
    <div class="HH-Resume-ResumeSection section" data-hh-namespace="personal_info">
        <div class="section__title">
            <h3 class="section__title-text">Персональная информация</h3>
            <button class="HH-ResumeSection-Switch section__title-button"
                    type="button">
                Изменить
            </button>
            <button class="HH-ResumeSection-Switch section__title-button section__title-button_hidden"
                    type="button">
                Отменить
            </button>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Фамилия</label>
            <span class="control__value"><%= resume.last_name %></span>

            <div class="control__input">
                <input class="HH-ResumeSection-ControlTextbox"
                       type="text"
                       value="<%= resume.last_name %>"
                       name="last_name"
                       maxlength="<%= conditions.last_name.max_length %>"
                       pattern="<%= conditions.last_name.regexp %>"
                       data-hh-namespace="personal_info"
                       data-hh-name="last_name"/>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Имя</label>
            <span class="control__value"><%= resume.first_name %></span>

            <div class="control__input">
                <input class="HH-ResumeSection-ControlTextbox"
                       type="text"
                       value="<%= resume.first_name %>"
                       name="first_name"
                       maxlength="<%= conditions.first_name.max_length %>"
                       pattern="<%= conditions.first_name.regexp %>"
                       data-hh-namespace="personal_info"
                       data-hh-name="first_name"/>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Отчество</label>
            <span class="control__value"><%= resume.middle_name %></span>

            <div class="control__input">
                <input class="HH-ResumeSection-ControlTextbox"
                       type="text"
                       value="<%= resume.middle_name %>"
                       name="middle_name"
                       maxlength="<%= conditions.middle_name.max_length %>"
                       pattern="<%= conditions.middle_name.regexp %>"
                       data-hh-namespace="personal_info"
                       data-hh-name="middle_name"/>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Пол</label>
            <span class="control__value"><%= resume.gender.name %></span>

            <div class="control__input">
                <ul class="checkbox-list">
                <% _.each(dictionary.gender, function(gender) { %>
                    <li class="checkbox-list__item">
                        <label>
                            <input class="HH-ResumeSection-ControlRadio"
                                   type="radio"
                                   value="<%= gender.id %>"
                                   name="gender"
                                   data-hh-name="gender.id"
                                   data-hh-namespace="personal_info"
                                   <%= gender.id === resume.gender.id ? 'checked' : '' %>/>
                            <%= gender.name %>
                        </label>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Дата рождения</label>

            <div class="HH-ResumeSection-Component"
                 data-hh-component="birth-date"
                 data-hh-namespace="personal_info"></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Город проживания</label>
            <span class="control__value"><%= resume.area.name %></span>

            <div class="HH-ResumeSection-Component"
                 data-hh-component="area"
                 data-hh-namespace="personal_info"></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <div class="HH-ResumeSection-Component"
                 data-hh-component="metro"
                 data-hh-namespace="personal_info"
                 data-hh-depends='[{"component": "area", "event": "selectArea", "callback": "_onSelectArea"}]'></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Гражданство</label>
            <span class="control__value">
                <%= _.map(resume.citizenship, function(element) { return element.name; }).join(', ') %>
            </span>

            <div class="HH-ResumeSection-Component"
                 data-hh-component="citizenship"
                 data-hh-namespace="personal_info"></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Разрешение на работу</label>
            <span class="control__value">
                <%= _.map(resume.work_ticket, function(element) { return element.name; }).join(', ') %>
            </span>

            <div class="HH-ResumeSection-Component"
                 data-hh-component="work-ticket"
                 data-hh-namespace="personal_info"></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing control_submit">
            <label class="control__label"></label>

            <div class="control__input">
                <button type="button" class="HH-ResumeSection-Submit">Сохранить</button>
            </div>
        </div>
    </div>

    <div class="HH-Resume-ResumeSection" data-hh-namespace="salary_and_job">
        <div class="section__title">
            <h3 class="section__title-text">Желаемая должность и зарплата</h3>
            <button class="HH-ResumeSection-Switch section__title-button"
                    type="button">
                Изменить
            </button>
            <button class="HH-ResumeSection-Switch section__title-button section__title-button_hidden"
                    type="button">
                Отменить
            </button>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Желаемая должность</label>
            <span class="control__value"><%= resume.title %></span>

            <div class="control__input">
                <input class="HH-ResumeSection-ControlTextbox"
                       type="text"
                       value="<%= resume.title %>"
                       name="title"
                       data-hh-name="title"
                       data-hh-namespace="salary_and_job"
                       maxlength="<%= conditions.title.max_length %>"
                       placeholder="Например, «Менеджер по продажам»"/>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Профессиональная область</label>
            <span class="control__value"><%= resume.specializationNames %></span>

            <div class="control__input">
                <select class="HH-SpecializationControl-Select">
                    <% _.each(specializations, function(specialization) { %>
                    <option value="<%= specialization.id %>"
                            <%= resume.specialization.some(function(s) {return s.profarea_id == specialization.id}) ? 'selected' : '' %>>
                        <%= specialization.name %>
                    </option>
                    <% }); %>
                </select>
                <div class="HH-ResumeSection-SpecializationList"></div>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Желаемая зарплата</label>
            <span class="control__value"><%= resume.salary.amount %> <%= resume.salary.currency %></span>

            <div class="control__input">
                <input class="HH-ResumeSection-ControlTextbox"
                       type="text"
                       value="<%= resume.salary.amount %>"
                       name="amount"
                       data-hh-name="salary.amount"
                       data-hh-namespace="salary_and_job"
                       pattern="^[0-9]+$"/>

                <ul class="checkbox-list">
                <% _.each(dictionary.currency, function(currency) { %>
                    <li class="checkbox-list__item">
                        <label>
                            <input class="HH-ResumeSection-ControlRadio"
                                   type="radio"
                                   value="<%= currency.code %>"
                                   name="currency"
                                   data-hh-name="salary.currency"
                                   data-hh-namespace="salary_and_job"
                                   <%= currency.code === resume.salary.currency ? 'checked' : '' %>/>
                            <%= currency.abbr %>
                        </label>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Занятость</label>
            <span class="control__value"><%= resume.employment.name %></span>

            <div class="control__input">
                <ul class="checkbox-list">
                <% _.each(dictionary.employment, function(employment) { %>
                    <li class="checkbox-list__item">
                        <label>
                            <input class="HH-ResumeSection-ControlRadio"
                                   type="radio"
                                   value="<%= employment.id %>"
                                   name="employment"
                                   data-hh-name="employment.id"
                                   data-hh-namespace="salary_and_job"
                                   <%= employment.id === resume.employment.id ? 'checked' : '' %>/>
                            <%= employment.name %>
                        </label>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">График работы</label>
            <span class="control__value"><%= resume.schedule.name %></span>

            <div class="control__input">
                <ul class="checkbox-list">
                <% _.each(dictionary.schedule, function(schedule) { %>
                    <li class="checkbox-list__item">
                        <label>
                            <input class="HH-ResumeSection-ControlRadio"
                                   type="radio"
                                   value="<%= schedule.id %>"
                                   name="schedule"
                                   data-hh-name="schedule.id"
                                   data-hh-namespace="salary_and_job"
                                   <%= schedule.id === resume.schedule.id ? 'checked' : '' %>/>
                            <%= schedule.name %>
                        </label>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Переезд</label>
            <span class="control__value"><%= resume.relocation.type.name %></span>

            <div class="HH-ResumeSection-Component"
                 data-hh-component="relocation"
                 data-hh-namespace="salary_and_job"></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <div class="HH-ResumeSection-Component"
                 data-hh-component="relocation-area"
                 data-hh-namespace="salary_and_job"
                 data-hh-depends='[{"component": "relocation", "event": "selectRelocation", "callback": "_onSelectRelocation"}]'></div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Готовность к командировкам</label>
            <span class="control__value"><%= resume.business_trip_readiness.name %></span>

            <div class="control__input">
                <ul class="checkbox-list">
                <% _.each(dictionary.business_trip_readiness, function(readiness) { %>
                    <li class="checkbox-list__item">
                        <label>
                            <input class="HH-ResumeSection-ControlRadio"
                                   type="radio"
                                   value="<%= readiness.id %>"
                                   name="business_trip_readiness"
                                   data-hh-name="business_trip_readiness.id"
                                   data-hh-namespace="salary_and_job"
                                   <%= readiness.id === resume.business_trip_readiness.id ? 'checked' : '' %>/>
                            <%= readiness.name %>
                        <label>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing">
            <label class="control__label">Время в пути</label>
            <span class="control__value"><%= resume.travel_time.name %></span>

            <div class="control__input">
                <ul class="checkbox-list">
                <% _.each(dictionary.travel_time, function(time) { %>
                    <li class="checkbox-list__item">
                        <label>
                            <input class="HH-ResumeSection-ControlRadio"
                                   type="radio"
                                   value="<%= time.id %>"
                                   name="travel_time"
                                   data-hh-name="travel_time.id"
                                   data-hh-namespace="salary_and_job"
                                   <%= time.id === resume.travel_time.id ? 'checked' : '' %>/>
                            <%= time.name %>
                        </label>
                    </li>
                <% }); %>
                </ul>
            </div>
        </div>

        <div class="HH-ResumeSection-Control control control_viewing control_submit">
            <label class="control__label"></label>
            <div class="control__input">
                <button type="button" class="HH-ResumeSection-Submit">Сохранить</button>
            </div>
        </div>
    </div>
</div>
