<div class="side-bar__container">
    <div class="HH-SideBar-Block-Status block resume-status">
        <div class="block__title">Статус:</div>
        <div class="resume-status-progress">
            <div class="HH-Block-Status-ProgressText resume-status-progress__text">50%</div>
            <div class="HH-Block-Status-ProgressBar resume-status-progress__bar"></div>
        </div>
        <div class="block__data">
            <div>Test 03</div>
            <div>Test 03</div>
            <div>Test 03</div>
        </div>
    </div>
</div>
