<label class="control__label">Навыки</label>
<span class="control__value"><%- skills %></span>

<div class="control__input">
    <div class="control__tags">
        <input type="text"
               data-hh-name="skill_set"
               class="HH-SkillSet-Input textbox textbox_large textbox_with-tags"
               value=""/>

        <input type="button" class="HH-SkillSet-AddSkills button button_secondary button_right" value="+"/>
    </div>

    <div class="HH-ResumeBuilder-Component-Suggest"></div>
    <div class="HH-ResumeBuilder-Component-Tags"></div>
</div>
