<div class="sidebar-section">
    <div class="sidebar-section__item">
        <h4 class="sidebar-section__item-title">Прогресс</h4>
        <div class="sidebar-section__item-value">
            <div class="HH-ResumeStatus-Progress resume-status-progress">
                <div class="HH-Sidebar-ProgressText resume-status-progress__text">50%</div>
                <div class="HH-Sidebar-ProgressBar resume-status-progress__bar"></div>
            </div>
            <% if (canPublish) { %>
                <div class="HH-ResumeStatus-Publish resume-status-publish" style="display: none;">
                    <button type="button" 
                            class="HH-Sidebar-ButtonPublish button button_main">Опубликовать</button>
                </div>
            <% } %>
        </div>
    </div>
    <% if (drawRecommendedFields) { %>
        <div class="sidebar-section__item">
            <h4 class="sidebar-section__item-title">Рекомендованные поля</h4>
            <div class="sidebar-section__item-value">
                <div class="suggested-fields HH-Sidebar-SuggestedFields"></div>
            </div>
        </div>
    <%}%>

    <div class="sidebar-section__item">
        <h4 class="sidebar-section__item-title">Статус публикации</h4>
        <div class="sidebar-section__item-value"><%- status.name %></div>
    </div>
</div>
